@import url('https://fonts.googleapis.com/css?family=Bangers|Exo|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap');
body {
  background-color:#de9031;
background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
width: 100vw;
overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  /* #cc4c29 */
  /* #db6b2e; */
  /* #db8d2e */
}
